.contact-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.contact-main {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contact-hero {
    position: relative;
    padding-top: 128px;
}

.contact-max-width1 {
    margin-top: var(--dl-layout-space-threeunits);
}

.contact-about {
    background-color: var(--dl-color-scheme-lightbrown);
}

.contact-max-width2 {
    flex-direction: row;
    justify-content: space-between;
}

.contact-text-container {
    flex: 1;
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin-right: var(--dl-layout-space-unit);
    flex-direction: column;
}

.contact-text10 {
    color: var(--dl-color-scheme-brown);
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-bottom: 4px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.contact-text11 {
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
}

.contact-checklist {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contact-check-item1 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-layout-space-unit);
    flex-direction: row;
}

.contact-icon1 {
    fill: var(--dl-color-scheme-brown);
    color: var(--dl-color-scheme-brown);
    margin-right: var(--dl-layout-space-unit);
}

.contact-link1 {
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.contact-check-item2 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-layout-space-unit);
    flex-direction: row;
}

.contact-icon3 {
    fill: var(--dl-color-scheme-brown);
    color: var(--dl-color-scheme-brown);
    margin-right: var(--dl-layout-space-unit);
}

.contact-link2 {
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.contact-check-item3 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-layout-space-unit);
    flex-direction: row;
}

.contact-icon5 {
    fill: var(--dl-color-scheme-brown);
    color: var(--dl-color-scheme-brown);
    margin-right: var(--dl-layout-space-unit);
}

.contact-link3 {
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.contact-image {
    flex: 1;
    width: 390px;
    height: var(--dl-layout-size-xxlarge);
    display: block;
    overflow: clip;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: var(--dl-layout-radius-radius8);
}

.contact-text18 {
    display: inline-block;
}

.contact-text19 {
    display: inline-block;
}

.contact-text20 {
    display: inline-block;
}

.contact-text21 {
    display: inline-block;
}

.contact-text22 {
    display: inline-block;
}

.contact-text23 {
    display: inline-block;
}

.contact-text24 {
    display: inline-block;
}

.contact-text25 {
    display: inline-block;
}

.contact-text26 {
    display: inline-block;
}

.contact-text27 {
    display: inline-block;
}

.contact-text28 {
    display: inline-block;
    margin-bottom: var(--dl-layout-space-unit);
}

.contact-text36 {
    display: inline-block;
    font-size: 18px;
    align-self: center;
    font-style: normal;
    font-weight: 700;
}

@media(max-width: 991px) {
    .contact-max-width2 {
        flex-direction: column;
    }

    .contact-text-container {
        width: 100%;
        margin-right: 0px;
        margin-bottom: var(--dl-layout-space-oneandhalfunits);
    }

    .contact-image-container {
        width: 100%;
    }

    .contact-image {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .contact-text36 {
        text-align: center;
    }
}