.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}

.home-main {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-hero {
  position: relative;
  padding-top: 128px;
}

.home-max-width1 {
  margin-top: var(--dl-layout-space-threeunits);
}

.home-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-heading {
  font-size: 56px;
  text-align: center;
  font-family: "DM Serif Display";
  font-weight: 400;
  line-height: 70px;
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: 0.01em;
  text-decoration: none;
}

.home-primary1 {
  margin-bottom: var(--dl-layout-space-threeunits);
  text-decoration: none;
}

.home-about {
  background-color: var(--dl-color-scheme-lightbrown);
}

.home-max-width2 {
  flex-direction: row;
  justify-content: space-between;
}

.home-text-container1 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}

.home-text10 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-text11 {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}

.home-text15 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-text17 {
  font-weight: 700;
}

.home-text19 {
  font-weight: 700;
}

.home-checklist {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-check-item1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon10 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text23 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon12 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text26 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon14 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text29 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon16 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text32 {
  font-style: normal;
  font-weight: 500;
}

.home-text33 {
  font-weight: 700;
}

.home-check-item5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon18 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text35 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item6 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-icon20 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text38 {
  font-style: normal;
  font-weight: 500;
}

.home-image {
  flex: 1;
  display: none;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-max-width3 {
  flex-direction: row;
  justify-content: space-between;
}

.home-text-container2 {
  flex: 1;
  width: 40%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}

.home-text39 {
  color: var(--dl-color-scheme-darkblue);
  font-size: 35px;
  font-style: normal;
  font-family: "DM Serif Display";
  font-weight: 100;
  margin-bottom: var(--dl-layout-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}

.home-text40 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-banner {
  background-color: var(--dl-color-scheme-brown);
}

.home-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.home-text41 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-text42 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text43 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-primary2 {
  margin-bottom: var(--dl-layout-space-threeunits);
  text-decoration: none;
}

.home-text44 {
  display: inline-block;
}

.home-text45 {
  display: inline-block;
}

.home-text46 {
  display: inline-block;
}

.home-text47 {
  display: inline-block;
}

.home-text48 {
  display: inline-block;
}

.home-text49 {
  display: inline-block;
}

.home-text50 {
  display: inline-block;
}

.home-text51 {
  display: inline-block;
}

.home-text52 {
  display: inline-block;
}

.home-text53 {
  display: inline-block;
}

.home-text54 {
  display: inline-block;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text62 {
  display: inline-block;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

@media(max-width: 991px) {
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }

  .home-max-width2 {
    flex-direction: column;
  }

  .home-text-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }

  .home-image-container {
    width: 100%;
  }

  .home-image {
    width: 100%;
  }

  .home-max-width3 {
    flex-direction: column;
  }

  .home-text-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}

@media(max-width: 767px) {
  .home-heading {
    font-size: 48px;
  }
}

@media(max-width: 479px) {
  .home-text40 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }

  .home-text41 {
    color: var(--dl-color-scheme-white);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .home-text62 {
    text-align: center;
  }
}