.home-container1 {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}

.home-main {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-hero {
  position: relative;
  padding-top: 128px;
}

.home-max-width1 {
  margin-top: var(--dl-layout-space-threeunits);
}

.home-heading-container1 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-heading {
  font-size: 56px;
  text-align: center;
  font-family: "DM Serif Display";
  font-weight: 400;
  line-height: 70px;
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: 0.01em;
  text-decoration: none;
}

.home-primary1 {
  margin-bottom: var(--dl-layout-space-threeunits);
}

.home-gallery {
  width: 100%;
  display: none;
  grid-gap: 20px;
  align-items: stretch;
}

.home-container2 {
  width: 25%;
  align-self: stretch;
}

.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-container3 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
  flex-direction: column;
}

.home-image2 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-container4 {
  width: 50%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}

.home-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-container5 {
  width: 100%;
  display: flex;
  grid-gap: 20px;
}

.home-image5 {
  flex: 1;
  width: var(--dl-layout-size-xlarge);
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-image6 {
  flex: 1;
  width: var(--dl-layout-size-xlarge);
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-services {
  display: none;
  padding-top: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  background-color: var(--dl-color-scheme-lightbrown);
}

.home-max-width2 {
  flex-direction: column;
}

.home-heading-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}

.home-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-text10 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-controls {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.home-icon10 {
  width: 16px;
  height: 16px;
}

.home-icon12 {
  width: 16px;
  height: 16px;
}

.home-cards-container {
  width: 100%;
  display: flex;
  grid-gap: 20px;
}

.home-about {
  background-color: var(--dl-color-scheme-lightbrown);
}

.home-max-width3 {
  flex-direction: row;
  justify-content: space-between;
}

.home-text-container2 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}

.home-text15 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-text16 {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}

.home-text20 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-text22 {
  font-weight: 700;
}

.home-text24 {
  font-weight: 700;
}

.home-checklist {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-check-item1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon14 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text28 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon16 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text31 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon18 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text34 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon20 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text37 {
  font-style: normal;
  font-weight: 500;
}

.home-text38 {
  font-weight: 700;
}

.home-check-item5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}

.home-icon22 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text40 {
  font-style: normal;
  font-weight: 500;
}

.home-check-item6 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-icon24 {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-layout-space-unit);
}

.home-text43 {
  font-style: normal;
  font-weight: 500;
}

.home-image7 {
  flex: 1;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}

.home-max-width4 {
  flex-direction: row;
  justify-content: space-between;
}

.home-text-container3 {
  flex: 1;
  width: 40%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}

.home-text44 {
  color: var(--dl-color-scheme-darkblue);
  font-size: 35px;
  font-style: normal;
  font-family: "DM Serif Display";
  font-weight: 100;
  margin-bottom: var(--dl-layout-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}

.home-text45 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-banner {
  background-color: var(--dl-color-scheme-brown);
}

.home-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.home-text46 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-text47 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text48 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-primary2 {
  margin-bottom: var(--dl-layout-space-threeunits);
}

.home-portofolio {
  display: none;
}

.home-max-width6 {
  flex-direction: column;
}

.home-text-container4 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}

.home-text49 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-text50 {
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text52 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-tab-selector-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}

.home-text56 {
  margin-right: 30px;
}

.home-text57 {
  margin-right: 30px;
}

.home-text58 {
  margin-right: 30px;
}

.home-text59 {
  margin-right: 30px;
}

.home-text60 {
  margin-right: 30px;
}

.home-tab-selector-cards-container {
  width: 100%;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.home-process {
  display: none;
  background-color: var(--dl-color-scheme-lightblue);
}

.home-max-width7 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.home-text62 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-text63 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-layout-space-fourunits);
}

.home-step1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

.home-text67 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}

.home-container6 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-text68 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text69 {
  color: var(--dl-color-scheme-white80);
}

.home-step2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

.home-text70 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}

.home-container7 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-text71 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text72 {
  color: var(--dl-color-scheme-white80);
}

.home-step3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 53px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

.home-text73 {
  color: var(--dl-color-scheme-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  margin-right: 180px;
}

.home-container8 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-text74 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text75 {
  color: var(--dl-color-scheme-white80);
}

.home-blog {
  display: none;
}

.home-max-width8 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.home-text76 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.home-text77 {
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}

.home-text79 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}

.home-primary4 {
  margin-bottom: var(--dl-layout-space-threeunits);
}

.home-blog-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.home-text83 {
  display: inline-block;
  font-size: 18px;
  align-self: center;
}

.home-text84 {
  display: inline-block;
}

.home-text85 {
  display: inline-block;
}

.home-text86 {
  display: inline-block;
}

.home-text87 {
  display: inline-block;
}

.home-text88 {
  display: inline-block;
}

.home-text89 {
  display: inline-block;
}

.home-text90 {
  display: inline-block;
}

.home-text91 {
  display: inline-block;
}

.home-text92 {
  display: inline-block;
}

.home-text93 {
  display: inline-block;
}

.home-text94 {
  display: inline-block;
  margin-bottom: var(--dl-layout-space-unit);
}

@media(max-width: 991px) {
  .home-heading-container1 {
    max-width: 100%;
    margin-bottom: 42px;
  }

  .home-gallery {
    flex-direction: column;
  }

  .home-container2 {
    width: 100%;
  }

  .home-container3 {
    width: 100%;
    flex-direction: row;
  }

  .home-container4 {
    width: 100%;
    align-items: stretch;
  }

  .home-max-width3 {
    flex-direction: column;
  }

  .home-text-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }

  .home-image-container {
    width: 100%;
  }

  .home-image7 {
    width: 100%;
  }

  .home-max-width4 {
    flex-direction: column;
  }

  .home-text-container3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }

  .home-tab-selector-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-blog-cards-container {
    align-items: center;
    flex-direction: column;
  }
}

@media(max-width: 767px) {
  .home-heading {
    font-size: 48px;
  }

  .home-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-image2 {
    height: 100%;
  }

  .home-container5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-image5 {
    width: 100%;
  }

  .home-image6 {
    width: 100%;
  }

  .home-tab-selector-cards-container {
    grid-template-columns: 1fr;
  }

  .home-text67 {
    margin-right: var(--dl-layout-space-fourunits);
  }

  .home-text70 {
    margin-right: var(--dl-layout-space-fourunits);
  }

  .home-text73 {
    margin-right: var(--dl-layout-space-fourunits);
  }
}

@media(max-width: 479px) {
  .home-text45 {
    color: var(--dl-color-scheme-black80);
    line-height: 26px;
  }

  .home-text46 {
    color: var(--dl-color-scheme-white);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .home-text67 {
    margin-right: var(--dl-layout-space-twounits);
  }

  .home-text70 {
    margin-right: var(--dl-layout-space-twounits);
  }

  .home-text73 {
    margin-right: var(--dl-layout-space-twounits);
  }

  .home-text83 {
    text-align: center;
  }
}