.portfolio-container1 {
  width: 100%;
  min-height: 100vh;
}
 
.portfolio-container2 {
  display: none;
}
 
.portfolio-container3 {
  display: contents;
}
 
.portfolio-thq-portfolio-grid-elm {
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
 
.portfolio-container4 {
  display: none;
}
 
.portfolio-container5 {
  display: contents;
}
 
.portfolio-container6 {
  display: none;
}
 
.portfolio-container7 {
  display: contents;
}
 
.portfolio-fragment1 {
  display: contents;
}
 
.portfolio-text233 {
  color: var(--color-text-muted);
  display: inline-block;
  font-size: 0.875rem;
  align-self: center;
  font-family: var(--font-body);
  font-weight: 400;
}
 
.portfolio-text237 {
  display: inline-block;
}
 
.portfolio-text238 {
  display: inline-block;
}
 
.portfolio-text239 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .portfolio-thq-portfolio-grid-elm {
    grid-template-columns: repeat(2, 1fr);
  }
}
 
@media(max-width: 479px) {
  .portfolio-thq-portfolio-grid-elm {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-text233 {
    text-align: center;
  }
}
