.portfolio-container1 {
  width: 100%;
  min-height: 100vh;
}
 
.portfolio-container2 {
  display: none;
}
 
.portfolio-container3 {
  display: contents;
}
 
.portfolio-thq-portfolio-grid-elm {
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
 
.portfolio-container4 {
  display: none;
}
 
.portfolio-container5 {
  display: contents;
}
 
.portfolio-container6 {
  display: none;
}
 
.portfolio-container7 {
  display: contents;
}
 
.portfolio-text233 {
  display: inline-block;
}
 
.portfolio-text234 {
  display: inline-block;
}
 
.portfolio-text235 {
  display: inline-block;
}
 
.portfolio-text236 {
  display: inline-block;
}
 
.portfolio-text237 {
  display: inline-block;
}
 
.portfolio-text238 {
  display: inline-block;
}
 
.portfolio-text239 {
  display: inline-block;
}
 
.portfolio-text240 {
  display: inline-block;
}
 
.portfolio-text241 {
  display: inline-block;
}
 
.portfolio-text242 {
  display: inline-block;
}
 
.portfolio-fragment20 {
  display: contents;
}
 
.portfolio-text243 {
  display: inline-block;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.portfolio-fragment21 {
  display: contents;
}
 
.portfolio-text251 {
  color: var(--color-text-muted);
  display: inline-block;
  font-size: 0.875rem;
  align-self: center;
  font-family: var(--font-body);
  font-weight: 400;
}
 
.portfolio-text255 {
  display: inline-block;
}
 
.portfolio-text256 {
  display: inline-block;
}
 
.portfolio-text257 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .portfolio-text251 {
    text-align: center;
  }
}
