.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-links-navlink {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.navigation-links-navlink:hover {
  color: var(--dl-color-scheme-brown);
}

.navigation-links-link1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}

.navigation-links-link1:hover {
  color: var(--dl-color-scheme-brown);
}

.navigation-links-link2 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 1.6;
  margin-left: 41px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-links-link2:hover {
  color: var(--dl-color-scheme-brown);
}

.navigation-links-link3 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}

.navigation-links-link3:hover {
  color: var(--dl-color-scheme-brown);
}

















.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }

  .navigation-links-navlink {
    margin-bottom: var(--dl-layout-space-unit);
  }

  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }

  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }

  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}